<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple userpage</title>
    <style>
        <%- inlineCSS('index.css')%>
    </style>
    <script><%- inlineFile('js/index.js')%></script>
</head>
<body>
    <%- fillcontent(['header'])%>
    <div id="main">
        <div id="side-bar">this is a side bar</div>
        <div id="content">this is the content</div>
    </div>
</body>
</html>