<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climb: Home</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/auth.css">
    <script src="/js/index.js"></script>
</head>
<body>
    <%- fillcontent(['header'])%>
    <div id="main">
        <div id="side-bar">
            <button id="login">Login</button>
            <button id="register">Register</button>
        </div>
        <div id="content">
            <div class="post" id="post-template">
                <img src="https://picsum.photos/200" alt="picsum" class="post-image">
                <br>
                <span class="details">asd</span>
                <hr>
                <span class="user">Wait a minute... Who are you..?</span>
            </div>
        </div>
    </div>
</body>
</html>