<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Climb: Sign Up</title>
    <link rel="stylesheet" href="/css/auth.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link rel="stylesheet" href="/css/main.css">
    <script src='/js/auth/user.js'></script>
</head>
<body>
<div class="post auth-container">
    <h2>Login Account</h2>
    <form id="signup-form">
        <label for="info">Email or Username</label>
        <input type="text" id="info" name="info" required placeholder="Enter your username or password" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required placeholder="Create a password" />
        <button type="submit" id="login" disabled>Logn</button>
    </form>
    <hr />
    <p>
        No Account? <button id="register" disabled>Register</button>
    </p>
</div>
</body>
</html>
